*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body a {
  color: black;
}
body a:link {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
  color: black;
}
body a:focus {
  text-decoration: none;
  color: black;
}
body a:active {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  position: relative;
}
header img {
  height: 30px;
}
header a {
  position: absolute;
  left: 10px;
}

footer {
  background-color: #121111;
  color: white;
  padding-left: 20px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 30px 0;
}
footer ul li {
  padding: 5px;
}
footer ul li:first-child {
  font-family: "Shrikhand", sans-serif;
  padding: 10px 0;
}
footer ul li i {
  margin-right: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  animation: fade;
  animation-duration: 0.2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.loader::before {
  content: "";
  display: block;
  position: absolute;
  left: 44vw;
  top: 40%;
  width: 12vw;
  height: 12vw;
  border-style: solid;
  border-color: #99E2D0;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E8E6;
  padding: 15px 0;
}
.localisation input[type=search] {
  font-family: "Roboto", sans-serif;
  background-color: #E6E8E6;
  border: none;
  font-size: medium;
  text-align: center;
  width: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  background-color: #F9FAF9;
  padding: 30px;
}
.description h1 {
  margin-bottom: 0;
}
.description p {
  margin-top: 5px;
}

.button {
  font-family: "Roboto", sans-serif;
  background: rgb(147, 86, 220);
  background: linear-gradient(350deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 15px 15px;
  margin: auto;
  height: 50px;
  width: 200px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(350deg, rgba(147, 86, 220, 0.85) 0%, rgba(255, 121, 218, 0.85) 100%);
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 50px;
}
.fonctionnement .button_fonctionnement {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.fonctionnement .button_fonctionnement .chiffre_button {
  border: 1px solid transparent;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  color: white;
  font-size: small;
  align-items: center;
  font-weight: bold;
  position: absolute;
  align-self: center;
}
.fonctionnement button {
  font-family: "Roboto", sans-serif;
  background-color: #F9FAF9;
  border-radius: 20px;
  border: none;
  padding: 15px 35px;
  height: 75px;
  margin: 10px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: large;
  cursor: pointer;
  gap: 30px;
  width: 100%;
}
.fonctionnement button:hover {
  background-color: #E6E8E6;
}
.fonctionnement button:hover i {
  color: #9356DC;
}
.fonctionnement i {
  margin-left: 0;
  color: grey;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F9FAF9;
  padding-left: 20px;
  margin-bottom: 50px;
}
.restaurants h2 {
  margin: 40px 0 0 0;
}
.restaurants .carte {
  background-color: white;
  border: white 0 solid;
  border-radius: 15px;
  margin: 20px 20px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 225px;
  position: relative;
}
.restaurants .carte .nouveau {
  position: absolute;
  color: green;
  background-color: #99E2D0;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 15px;
}
.restaurants .carte img {
  height: 150px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants .carte .description-carte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.restaurants .carte .description-carte .coeur {
  text-align: right;
}
.restaurants .carte .description-carte .coeur:active .fa-regular {
  opacity: 0;
}
.restaurants .carte .description-carte .fa-solid {
  margin-left: -39px;
  opacity: 0;
  background: linear-gradient(350deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 100% 200%;
  transition: all 0.6s linear;
  font-size: 25px;
}
.restaurants .carte .description-carte .fa-solid:hover {
  cursor: pointer;
}
.restaurants .carte .description-carte .fa-solid:active {
  background: linear-gradient(350deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
  opacity: 1;
  background-position: 0% 100%;
}
.restaurants .carte .description-carte .fa-regular {
  font-size: 25px;
  opacity: 1;
  transition: all 0.6s linear;
}
.restaurants .carte .description-carte .fa-regular:active {
  opacity: 0;
}
.restaurants .carte .description-carte i {
  font-size: larger;
  margin-right: 10px;
}
.restaurants .carte .description-carte .texte-carte h3 {
  margin: 10px 0 0 0;
}
.restaurants .carte .description-carte .texte-carte p {
  margin: 5px 0 0 0;
}

.image_menu {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50px;
  z-index: -1;
}

@keyframes menufade {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.categorie_1 {
  opacity: 0;
  animation: menufade 1.5s forwards;
}

.categorie_2 {
  opacity: 0;
  animation: menufade 1.5s forwards;
  animation-delay: 1s;
}

.categorie_3 {
  opacity: 0;
  animation: menufade 1.5s forwards;
  animation-delay: 2s;
}

.menu {
  margin-top: 200px;
  padding: 0 20px 50px 20px;
  background-color: #E6E8E6;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
}
.menu h2 {
  font-weight: 300;
  font-size: large;
}
.menu h2::after {
  content: "";
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  display: block;
}
.menu .titre_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}
.menu .titre_menu h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu .titre_menu .coeur {
  text-align: right;
  margin-right: 20px;
}
.menu .titre_menu .coeur:active .fa-regular {
  opacity: 0;
}
.menu .titre_menu .fa-solid {
  margin-left: -29px;
  font-size: 25px;
  opacity: 0;
  background: linear-gradient(350deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 100% 200%;
  transition: all 0.6s linear;
}
.menu .titre_menu .fa-solid:hover {
  cursor: pointer;
}
.menu .titre_menu .fa-solid:active {
  background: linear-gradient(350deg, rgba(255, 121, 218, 0.85) 0%, rgba(147, 86, 220, 0.85) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
  opacity: 1;
  background-position: 0% 100%;
}
.menu .titre_menu .fa-regular {
  font-size: 25px;
  opacity: 1;
  transition: all 0.6s linear;
}
.menu .titre_menu .fa-regular:active {
  opacity: 0;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu .carte_menu {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  overflow: hidden;
}
.menu .carte_menu .animation_check {
  display: flex;
  flex-direction: row;
  margin-right: -80px;
  transition: all 1s;
}
.menu .carte_menu .animation_check p {
  padding: 0 20px;
  align-self: flex-end;
}
.menu .carte_menu .choix {
  background-color: #99E2D0;
  height: 80px;
  border-radius: 0 15px 15px 0;
  width: 80px;
  display: flex;
  justify-content: center;
}
.menu .carte_menu .choix .fa-circle-check {
  color: white;
  align-self: center;
  font-size: 25px;
}
.menu .carte_menu:hover {
  cursor: pointer;
}
.menu .carte_menu:hover .animation_check {
  transition: all 1s;
  margin-right: 0;
}
.menu .carte_menu:hover .choix .fa-circle-check {
  animation: spin 0.8s forwards;
  animation-delay: 0.2s;
}
.menu .carte_menu_texte {
  overflow: hidden;
}
.menu .carte_menu_texte h3 {
  margin: 10px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .carte_menu_texte p {
  margin: 10px 0 10px 0;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 960px) {
  .centre_page {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnement {
    width: 50%;
    min-width: 300px;
  }
  .fonctionnement h2 {
    margin: 20px 0;
  }
  .restaurants {
    width: 50%;
    background-color: white;
  }
  .restaurants h2 {
    margin: 20px 0;
  }
  .cartes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cartes .carte {
    width: 400px;
    height: 275px;
  }
  .cartes .carte img {
    height: 200px;
  }
  .categories {
    display: flex;
    justify-content: space-between;
  }
  .categories .categorie_1 {
    width: 32%;
  }
  .categories .categorie_2 {
    width: 32%;
  }
  .categories .categorie_3 {
    width: 32%;
  }
}
@media (min-width: 400px) {
  .carte_menu_texte p {
    overflow: visible;
    white-space: normal;
  }
}
@media (min-width: 1250px) {
  .fonctionnement {
    width: 30%;
    min-width: 300px;
  }
  .fonctionnement h2 {
    margin: 20px 0;
  }
  .restaurants {
    width: 70%;
    background-color: white;
  }
  .restaurants h2 {
    margin: 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
