@import "./utils/variables";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    a {
        &:link {
            text-decoration: none;
        }
        &:visited {
            text-decoration: none;
            color: black;
        }
    }
}
header {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding-bottom: 10px;
    position: relative;
    img {
        height: 30px;
    }
    a {
        position: absolute;
        left: 10px;
    }
}
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-background;
    i {
        margin-right: 10px;
    }
}
.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    background-color: $lightgrey-background;
    padding: 30px;
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
    }
}
.button {
    background-color: $primary-color;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 15px 15px;
    margin: auto;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    }
.fonctionnement {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 50px;
    button {
    background-color: $lightgrey-background;
    border-radius: 20px;
    border: none;
    padding: 15px 15px;
    height: 75px;
    margin: 10px 15px 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    &:hover {
        i {
            color: $primary-color;
        }
    }
    }
    i {
        margin-left: 0;
        color: grey;
    }
    p {
        margin: 0 10%;
    }
}
.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $lightgrey-background;
    padding-left: 20px;
    margin-bottom: 50px;
    h2 {
        margin: 40px 0 0 0;
    }
    .carte {
    background-color: white;
    border: white 0 solid;
    border-radius: 15px;
    margin: 20px 20px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 225px;
        img {
            height: 150px;
            object-fit: cover;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
        .description-carte {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 10px;
            i {
                font-size: larger;
                margin-right: 10px;
                &:hover {
                    color: $primary-color;
                }
            }
            .texte-carte {
                h3 {
                    margin: 10px 0 0 0;
                }
                p {
                    margin: 5px 0 0 0;
                }
            }
        }
    }
}
.image_menu {
    height: 300px;
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-size: cover;
}
.menu {
    margin-top: -100px;
    padding: 0 20px 50px 20px;
    background-color: $grey-background;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 300;
        font-size: large;
        border-bottom: 3px solid $tertiary-color;
        width: 40px ;
    }
    .titre_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: large;
        h1 {
            font-family: $title-font;
        }
        i {
            padding-right: 20px;
        }
    }
    .carte_menu {
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
        .carte_menu_texte {
            h3 {
                margin: 10px 0 0 0;
            }
            p {
                margin: 10px 0 10px 0;
                height: 20px;
                width: 250px;
                display: inline-block;
                overflow: hidden ;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
footer {
    background-color: #121111;
    color: white;
    padding-left: 20px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 10px 0 30px 0;
        li {
            padding: 5px;
            &:first-child {
                font-family: $title-font;
                padding: 10px 0;
            }
            i {
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}