.image_menu {
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50px;
    z-index: -1;
}
@keyframes menufade {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.categorie_1 {
    opacity: 0;
    animation: menufade 1.5s forwards;
}
.categorie_2 {
    opacity: 0;
    animation: menufade 1.5s forwards;
    animation-delay: 1s;
}
.categorie_3 {
    opacity: 0;
    animation: menufade 1.5s forwards;
    animation-delay: 2s;
}
.menu {
    margin-top: 200px;
    padding: 0 20px 50px 20px;
    background-color: $grey-background;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 300;
        font-size: large;
        &::after {
            content: '';
            width: 40px;
            border-bottom: 3px solid $tertiary-color;
            display: block;
        }
    }
    .titre_menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: large;
        h1 {
            font-family: $title-font;
        }
        .coeur {
            text-align: right;
            margin-right: 20px;
            &:active {
                .fa-regular {
                    opacity: 0;
                }
            }
        }
        .fa-solid {
            margin-left: -29px;
            font-size: 25px;
            opacity: 0;
            background: linear-gradient(350deg, rgba(255,121,218,0.85) 0%, rgba(147,86,220,0.85) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            background-size: 100% 200%;
            transition: all 0.6s linear;
            &:hover {
                cursor: pointer;
            }
            &:active {
                    background: linear-gradient(350deg, rgba(255,121,218,0.85) 0%, rgba(147,86,220,0.85) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                    cursor: pointer;
                    opacity: 1;
                    background-position: 0% 100%;
            }
        }
        .fa-regular {
            font-size: 25px;
            opacity: 1;
            transition: all 0.6s linear;
            &:active {
                opacity: 0;
            }
        }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    .carte_menu {
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 0 0 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: 80px;
        overflow: hidden;
        .animation_check {
            display: flex;
            flex-direction: row;
            margin-right: -80px;
            transition: all 1s;
            p {
                padding: 0 20px;
                align-self: flex-end;
            }
        }
        
        .choix {
            background-color: $tertiary-color;
            height: 80px;
            border-radius: 0 15px 15px 0;
            width: 80px;
            display: flex;
            justify-content: center;

            .fa-circle-check {
                color: white;
                align-self: center;
                font-size: 25px;
            }
        }
        &:hover {
            cursor: pointer;
            .animation_check {
                transition: all 1s;
                margin-right: 0;
            }
            .choix {
                .fa-circle-check {
                    animation: spin 0.8s forwards;
                    animation-delay: 0.2s;
                }
                }
            }
        }       
        .carte_menu_texte {
            overflow: hidden;
            h3 {
                margin: 10px 0 0 0;
                overflow: hidden ;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p {
                margin: 10px 0 10px 0;
                height: 20px;
                overflow: hidden ;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

