
@media (min-width: $desktop) {
    .centre_page {
        display: flex;
        justify-content: space-between;
    }
    .fonctionnement {
        width: 50%;
        min-width: 300px;
        h2 {
            margin: 20px 0;
        }
    }
    .restaurants {
        width: 50%;
        background-color: white;
        h2 {
            margin: 20px 0;
        }
    }
    .cartes {
        display:flex ;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .carte {
            width: 400px;
            height: 275px;
            img {
                height: 200px;
            }
        }
    }
    .categories {
        display: flex;
        justify-content: space-between;
        .categorie_1 {
            width: 32%;
        }
        .categorie_2 {
            width: 32%;
        }
        .categorie_3 {
            width: 32%;
        }
    }
}
@media (min-width: 400px) {
    .carte_menu_texte {
        p {
            overflow: visible;
            white-space: normal;
        }
    }
}
@media (min-width: 1250px) {
    .fonctionnement {
        width: 30%;
        min-width: 300px;
        h2 {
            margin: 20px 0;
        }
    }
    .restaurants {
        width: 70%;
        background-color: white;
        h2 {
            margin: 20px 0;
        }
    }
}